<div ng-controller="navController as navCtrl">
	<div class="head-profile">
		<div class="circle-nav-img" ng-class="{'close-nav': navCtrl.closeNav}" ng-click="navCtrl.toggleNav()"></div>
		<div class="nav-title" ng-bind="navCtrl.navTitle"></div>
	</div>

	<div ng-repeat="link in navCtrl.links track by $index" class="nav-link" ng-class="{'inverted': $index == navCtrl.currentNavIndex}"  ng-click="navCtrl.redirectTo($index)">
		<div ng-bind="link.name"></div>
	</div>

	<!-- Static Navs -->
	<div class="nav-link" ng-click="navCtrl.resumePreviewer()">
		<div>Resume</div>
	</div>
</div>
